<!--
<form (submit)="addUser(newUser)">
    <input type="text" #newUser>
  <button>Send User</button>
</form>
<div>
  <ul>
    <li *ngFor="let user of users">{{user}} 
      <button (click)="deleteUser(user)">X</button>
    </li>
  </ul>
</div>
<div>
<form >
  <input type="text" name="nombre" [(ngModel)]="name"> <!--tenemos que importar AngularForms en module.ts
  <input type="text" name="edad" [(ngModel)]="age">
  <p>nombre: {{name}}</p>
  <p>age: {{age}}</p>  
</form>

</div>
<hr>

<div *ngFor="let post of posts">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>

-->
<ul>
<li>
  <a routerLink="/">HOME</a>
</li>
<li>
  <a routerLink="about">ABOUT</a>
</li>

</ul>
<router-outlet></router-outlet>